*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-button{
    padding: 10px 25px;
    background-color: #1D4ED8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
}
.navbar img{
    max-width: 1200px;
    width: 100px;
}
.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar li{
   color: #575757; 
}

header{
    height: 90vh;
    background-image:
        linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
        url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    max-width: 750px;
    padding-bottom: 70px;
}

.banner-content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    /* margin-bottom: 20px; */
}

.banner-content h1 em{
    font-style: italic;
}

.banner-content p{
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    color: #ddd;
    margin-bottom: 100px;
}

